@font-face {
  font-family: "Welfare";
  src: url("/fonts/Wellfare Free.ttf") format("woff2");
}

@font-face {
  font-family: "Thorsa";
  src: url("/fonts/Thorsa.otf") format("woff2");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .sub-container {
    @apply max-w-sm px-4 lg:max-w-2xl;
  }

  .wrapper-center {
    @apply flex flex-col items-center justify-center;
  }
}
