@font-face {
  font-family: "Welfare";
  src: url("/fonts/Wellfare Free.ttf") format("woff2");
}

@font-face {
  font-family: "Thorsa";
  src: url("/fonts/Thorsa.otf") format("woff2");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .sub-container {
    @apply max-w-sm px-4 lg:max-w-2xl;
  }

  .wrapper-center {
    @apply flex flex-col items-center justify-center;
  }

  .remove-scrollbar::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    border-radius: 0px;
  }

  .remove-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .remove-scrollbar::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 0px;
  }

  .remove-scrollbar::-webkit-scrollbar-thumb:hover {
    /* background: #1e2238; */
    background: transparent;
  }

  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
